fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#contact-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-group {
    margin-top: auto;
    margin-bottom: auto;
}

#contact-form-inputs label {
    font-weight: bold;
    font-size: 1.5rem;
}

#contact-form-inputs input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#contact-form-inputs textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#submit-button {
    background-color: transparent;
    border: 3px solid black;
    display: block;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#submit-button:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    #contact-form-inputs {
        width: auto;
    }
}