.headshot-info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    gap: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #e3e9ef;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.info-box-header {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.info-text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .headshot-info-box {
        flex-direction: column;
        padding: 0px 0px;
        gap: 0px;
    }

    .info-box {
        padding: 0 0 5 0;
        margin-bottom: 0px;
    }

    .info-box-header {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .info-text {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0px;
    }
}