.home-page {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 2em;
    font-weight: 700;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
}