.home-page {
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 2em;
    font-weight: 700;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media (max-width: 768px) {
    .name {
        font-size: 1.3em;
    }
}