/* Navbar */

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* makes sure navbar is on top of everything else */
}

.header-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    transition: 0.3s;
}

.header-title.hidden {
    opacity: 0;
}

.links button {
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links button:hover {
    background-color: #ddd;
    color: black;
    height: 70px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.unclickable {
    pointer-events: none;
    cursor: not-allowed;
}


.page {
    margin: 30px 0px 0px 0px;
    transition: opacity 0.3s ease;
}


/* Home */

.home-page {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    text-align: center;
    font-size: 35px;
}

.headshot {
    width: 100%;
    max-width: 275px;
    height: auto;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headshot1 {
    transition: transform 0.5s;
}

.rotate {
    animation: spin 0.5s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spin {
    0% {
        transform: perspective(500px) rotateY(0deg);
    }

    100% {
        transform: perspective(500px) rotateY(-360deg);
    }
}

.resume-button {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.resume-button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Footer */

footer {
    background-color: #333;
    overflow: hidden;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* removes underline */
    transition: 0.3s;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media ul {
    list-style: none;
    padding: 20px;
    display: flex;
}

.social-media a {
    display: inline-block;
    padding: 10px;
    width: 30px;
    height: 30px;
}

.social-media button {
    width: auto;
    height: 30px;
    margin: 10px;
    padding: 0;
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.social-media a img,
.social-media button img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.social-media a:hover,
.social-media button:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/* Skills */

.skills-page {
    padding: 50px;
    text-align: center;
    font-size: 35px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-col {
    flex: 0 0 25%;
    max-width: 25%;
    /*
    min-width: 300px;
    max-width: 400px;
    */
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.3s;
}

.skill {
    text-align: center;
}

.skill-images {
    display: flex;
    flex-direction: column; /* find out if necessary */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.skill-images.two-icons {
    flex-direction: row;
}

.skill-images img {
    width: 150px;
    height: 150px;
    margin: 5px;
    transition: 0.3s;
}

.skill-images.wide-logo img {
    width: 300px;
    height: 150px;
}

.skill-images img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.skill-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.skill-description {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

.skill-description a {
    transition: 0.3s;
}

.skill-description a:hover {
    color: #333;
    transition: 0.3s;
}

/* Projects */

.projects-page {
    padding: 50px 100px;
    text-align: center;
    font-size: 35px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project {
    display: flex;
    border: 3px solid black;
    padding: 20px;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.3s;
    width: 100%;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.project-image {
    flex: 0 0 400px; /* change this */
    margin-right: 20px;
}

.project-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.2s;
}

.project-image img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.project-content {
    flex: 1;
    text-align: left;
}

.project-name {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.project-name:visited {
    color: #0000ee;
}

.project-name:hover {
    color: #333;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
    font-size: 30px;
}

.project-tech li {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 5px;
}

.project-description {
    margin: 10px 5px;
}

/* Contact */

.contact-page {
    padding: 50px;
    text-align: center;
    font-size: 35px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#contact-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-group {
    margin-top: auto;
    margin-bottom: auto;
}

#contact-form-inputs label {
    font-weight: bold;
    font-size: 1.5rem;
}

#contact-form-inputs input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#contact-form-inputs textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#submit-button {
    background-color: transparent;
    border: 3px solid black;
    display: block;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#submit-button:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/*...............................................*/

.main {
    padding: 16px;
    margin-top: 30px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .header-title {
        font-size: 20px;
    }

    .links button {
        font-size: 15px;
    }

    .intro {
        padding: 30px;
        font-size: 20px;
    }

    .headshot {
        max-width: 200px;
    }

    /* Footer */

    footer p {
        font-size: 15px;
    }

    .social-media {
        gap: 5px;
    }

    .social-media a {
        padding: 5px;
        width: 20px;
        height: 20px;
    }

    .social-media button {
        height: 20px;
        margin: 5px;
    }

    /* Skills */

    .skills-page {
        padding: 30px;
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
    }

    .skills-col {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .skill-images img {
        width: 125px;
        height: 125px;
    }

    .skill-images.wide-logo img {
        width: 250px;
        height: 125px;
    }

    .skill-name {
        font-size: 25px;
    }

    .skill-description {
        font-size: 15px;
    }
    
    /* Projects */

    .projects-page {
        padding: 30px;
        font-size: 30px;
    }

    .project-list {
        flex-direction: column;
        gap: 20px;
    }

    .project {
        flex-direction: column;
        margin: 0px 0px;
    }

    .project-name {
        font-size: 30px;
    }

    .project-description {
        font-size: 20px;
    }

    .project-image {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .project-tech li {
        font-size: 15px;
        margin-bottom: 5px;
    }

    /* Contact */

    .contact-page {
        padding: 50px;
        margin: 50px 0;
    }
    
    #contact-form-inputs {
        width: auto;
    }
}