.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    transition: 0.3s;
}

.header-title.hidden {
    opacity: 0;
}

.links a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
  
.links a:hover {
    background-color: #ddd;
    color: black;
}

.unclickable {
    pointer-events: none;
    cursor: not-allowed;
}

.intro {
    padding: 50px;
    margin-top: 30px;
    height: 1500px; /* To enable scrolling */
    text-align: center;
    font-size: 35px;
}

.headshot {
    width: 100%;
    max-width: 275px;
    height: auto;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}
  
.main {
    padding: 16px;
    margin-top: 30px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .navbar {
      height: 60px;
    }
  
    .header-title {
      font-size: 20px;
    }
  
    .links a {
      font-size: 15px;
    }
  
    .intro {
      padding: 30px;
      font-size: 20 px;
    }
  
    .headshot {
      max-width: 200px;
    }
  }